<form {{on 'submit' this.login}}>
  <label for='pat'>Email</label>
  <input
    type='text'
    id='pat'
    placeholder='Enter GitHub PAT'
    value={{this.token}}
    {{on 'input' this.updateToken}}
  />
  <button type='submit'>Login with GitHub PAT</button>
</form>